<!-- app/views/success/show.html.erb -->

<h1>Bravo :)</h1>
<p>Vous êtes connecté !</p>
<%= button_to "Gestion de livres", books_path, method: :get, class: "btn btn-primary custom-button" %>
<%= button_to "Relation avec les lecteurs", lectors_path, method: :get, class: "btn btn-secondary custom-button" %>

<div class="sucess-image">

